.wrapper {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 190px;
}

#second {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#yelp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item-pic {
  width: 240px;
  height: 190px;
}

.item-pic {
  padding: 5px;
}

.user-pic img {
  width: 150px;
  height: 150px;
}

#third {
  border: solid gray;
  padding: 20px;
}

#price-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.material_accordion .material_accordion_panel,
.material_accordion .material_accordion_heading {
  border: none;
  border-radius: 0;
}

.material_accordion .row a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out 0s;
  transition: color 0.3s ease-out 0s;
}

.panel-title a {
  text-decoration: none;
}

.panel-title a:hover {
  text-decoration: none;
}

.material_accordion .material_accordion_collapse {
  text-decoration: none;
  /* box-shadow: 0 6px 13px rgba(0, 0, 0, 0.12);
*/
}

.accord {
  background-color: #74c046;
  font-size: 106%;
  letter-spacing: -0.01em;
  margin: 5px;
  padding: 1%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.1em;
}

#check {
  left: 5%;
}

p a {
  cursor: pointer;
}

.days {
  display: flex;
  flex-direction: row;
  padding: 2px;
  width: 100%;
}

.days input {
  margin: 4px;
  width: 30%;
}

.day {
  width: 3rem;
  padding-top: 0.5rem;
  text-align: center;
  margin-top: 0.3rem;
  margin-right: 5%;
  border: black;
  border-width: solid 5px;
  box-shadow: 0 0 10px black;
}

@media (--medium-up) {
  .day {
    width: 3rem;
    padding-top: 0.5rem;
    text-align: center;
    margin-top: 0.3rem;
    margin-right: 5%;
    border: black;
    border-width: solid 5px;
    box-shadow: 0 0 10px black;
  }
}

.day:hover {
  cursor: pointer;
}

.highlight {
  background: #149bdf;
  color: white;
}

#dates {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#dates div {
  padding: 3px;
  margin: 10px;
}

.checkbox {
  left: 2%;
}

#last-div {
  margin-bottom: 2.3%;
  background-color: transparent;
}

#ratings-past {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 3px;
}

#ratings-past p {
  margin-right: 2%;
}

#ratings-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #5d9d36;
  margin: 1rem 0;
  padding: 0;
}

#expert {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#expert input {
  margin-left: 2%;
}

#slide-fix {
  width: 10%;
  margin-right: 2%;
}

#noise {
  width: 12%;
}

#portion {
  margin-left: 11%;
}

#payments {
  margin-bottom: 0.8%;
}

.row {
  cursor: pointer;
}

.tooltip-inner {
  padding-top: 0rem !important;
  margin-top: -10rem;
}
