<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../common/head %>
</head>

<body id="advanced_search">
	<!-- Begin page content -->
	<div class="container header-container">
		<% include ../common/header %>
	</div>
	<!-- container -->
	<!-- page content -->
	<form action="/profile/signin" method="post" class="form-signin">
		<h2 class="form-signin-heading">Please sign in...</h2>
		<input type="email" name="emailaddress" class="form-control" placeholder="email">
		<input type="password" id="password" name="password" class="form-control" placeholder="password">
		<br />
		<input type="submit" value="Sign-in" class="btn btn-lg btn-primary btn-block"/>
	</form>

	<!-- container -->
	<div id="footer">
		<% include ../common/footer %>
	</div>
	<% include ../common/foot %>
</body>

</html>
