<!DOCTYPE html>
<html>
  <head>
  	<% include ../common/head %>
    <link rel="stylesheet" href="/styles/basicsearch.css" media="screen" title="no title">
  </head>
  <body>
    <div class="container header-container">
      <div class="main container clearfix">
        <a href="/register" class="btn btn-lg btn-success">Register</a>
        <a href="/login" class="btn btn-lg btn-success">Login</a>
        <form action="/logout" method="POST">
            <button name="thing" value="logout" class="btn btn-lg btn-success">Log out</button>
        </form>
      </div>
	     <% include ../common/header %>
    </div><!-- End Header-Container -->
      <div class="container page-content">
        <form action="/basicsearch/food" method="POST" enctype="{enctype}">
            <h1><%= title %></h1>
            <input name="basicsearchinput" type="search" placeholder="Search">
            <button class="feeling-button" type="submit">Search</button>
        </form>
        <a href="/advancedsearch">Advanced Search</a>
    <div id="footer">
	     <% include ../common/footer %>
    </div>
	     <% include ../common/foot %>
  </body>
</html>
