<!DOCTYPE html>
<html>

<head>
    <% include ../common/head %>
    <link rel="stylesheet" href="/styles/basicsearch.css" media="screen" title="no title" charset="utf-8">
</head>
<body onload="geoFindMe()">
<div class="container-fluid header-container">
    <div id="welcomediv" class="row">
        <div class="col-xs-9 col-md-11">
            <p class="floatright">You are logged in as <%- account.fullName %> ! </p>
        </div>
        <div class="col-xs-3 col-md-1">
            <form action="/logout" method="post">
                <button class="btn btn-xs" type="submit"><span class="glyphicon glyphicon-off"></span> Logout</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="registerorlogindiv" class="col-xs-12">
            <a href="/register" class="btn btn-md btn-danger floatright">Register</a>
            <a href="/login" class="btn btn-md btn-danger floatright yesMarginRight">Login</a>
        </div>
    </div>
    <% include ../common/header %>
</div><!-- End Header-Container -->

<div class="container">
    <form action="/basicsearch/submit" method="POST">
        <h2>Search Menu Items</h2>
        <div class="row">
            <div class="col-xs-4 col-md-6">
                <input name="basicsearchinput" type="text" class="form-control" placeholder="Search"/>
            </div>
            <div class="col-xs-4 col-md-4">
                <input name="locationinput" type="text" class="form-control" placeholder="Current Location"/>
            </div>
            <div class="col-xs-4 col-md-2">
                <button class="feeling-button btn btn-block" type="submit"><span
                            class="glyphicon glyphicon-search"></span>Search
                </button>
            </div>
        </div>

        <!--For geoNear MongoDB query. Lat/Long is hidden.-->
        <input type="text" id="lat" class="form-control"/>
        <input type="text" id="long" class="form-control"/>


    </form>
    <form action="/advancedSearch" method="POST">
        <input id="advancedSearch" type="submit" class="btn btn-link" value="Advanced Search"/>
    </form>


</div><!-- End Page-Content -->
<script>
    function geoFindMe() {
//    var output = document.getElementById("testing");
        var lat = document.getElementById("lat");
        var long = document.getElementById("long");
        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }
        function success(position) {
            lat.value = position.coords.latitude;
            lat.placeholder = position.coords.latitude;
            long.value = position.coords.longitude;
            long.placeholder = position.coords.longitude;
        }

        function error() {
            lat.placeholder = "Unable to retrieve your location";
        }

        lat.placeholder = "Locating…";
        navigator.geolocation.getCurrentPosition(success, error);
    }

    $(document).ready(function () {
        if ("<%- account %>" === "null") {
            $('#registerorlogindiv').show();
            $('#welcomediv').hide();
        }
        else {
            $('#registerorlogindiv').hide();
            $('#welcomediv').show();
        }
    });
</script>
<div id="footer">
    <% include ../common/footer %>
</div>
<% include ../common/foot %>
</body>
</html>
