<!DOCTYPE html>
<html>

<head>
    <% include ../common/head %>
    <link rel="stylesheet" href="/styles/basicsearch.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="container header-container">
    <div id="welcomediv">
        <p class="floatright">You are logged in as <%- account.fullName %> ! </p>
    </div>
    <div id="registerorlogindiv" class="floatright">
        <a href="/register" class="btn btn-lg btn-danger">Register</a>
        <a href="/login" class="btn btn-lg btn-danger">Login</a>
    </div>
    <% include ../common/header %>
</div><!-- End Header-Container -->

<div class="container">
    <form action="/basicsearch/submit" method="POST">
        <h1>Search Menu Items</h1>
        <div class="yesMarginX">
            <input name="basicsearchinput" type="text" class="form-control" placeholder="Search">
        </div>
        <div class="yesMarginX">
            <button class="feeling-button btn btn-block btn-primary" type="button">Search</button>
        </div>
    </form>
    <form action="/advancedSearch" method="POST">
        <input id="advancedSearch" type="submit" class="btn btn-link" value="Advanced Search" />
    </form>
</div><!-- End Page-Content -->
<script>
    $(document).ready(function () {
        if ("<%- account %>" === "null") {
            $('#registerorlogindiv').show();
            $('#welcomediv').hide();
        }
        else {
            $('#registerorlogindiv').hide();
            $('#welcomediv').show();
        }

    });
</script>
<div id="footer">
    <% include ../common/footer %>
</div>
<% include ../common/foot %>
</body>
</html>
