<div class="panel-group material_accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="row accord" role="tab" id="headingfour">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                Additional Restaurant Details
            </a>
        </h4>
    </div>
</div>	  
<div id="collapsefour" class="panel-collapse collapse material_accordion_collapse menu_item_style" role="tabpanel" aria-labelledby="headingfour">
    <div class='container'>
	   <div class="panel-body">
          <div class="row">
		     <h3>Restaurant Attributes</h3>
          </div>   
		
			<div class="row" >

                <div class="col-xs-3" id="addRestDetHours">
    				<p>Hours</p>
        				<div class="btn-group-vertical" role="group" aria-label="...">
          					<button type="button" class="btn btn-default" id="restDetDaySun">Sunday   </button>
          					<button type="button" class="btn btn-default" id="restDetDayMon">Monday   </button>
          					<button type="button" class="btn btn-default" id="restDetDayTue">Tuesday  </button>
          					<button type="button" class="btn btn-default" id="restDetDayWed">Wednesday</button>
          					<button type="button" class="btn btn-default" id="restDetDayThu">Thursday </button>
          					<button type="button" class="btn btn-default" id="restDetDayFri">Friday   </button>
          					<button type="button" class="btn btn-default" id="restDetDaySat">Saturday </button>
                        </div>
                </div>
			
			<div class="col-xs-3" id="addRestDetStartTime">
				<p>From</p>
				<div class="btn-group-vertical" role="group" aria-label="...">
  					<button type="button" class="btn btn-default" id="restDetStrtTmeSun">11:00 AM</button>
  					<button type="button" class="btn btn-default" id="restDetStrtTmeMon">11:00 AM</button>
  					<button type="button" class="btn btn-default" id="restDetStrtTmeTue">11:00 AM</button>
  					<button type="button" class="btn btn-default" id="restDetStrtTmeWed">11:00 AM</button>
  					<button type="button" class="btn btn-default" id="restDetStrtTmeThu">11:00 AM</button>
  					<button type="button" class="btn btn-default" id="restDetStrtTmeFri">11:00 AM</button>
  					<button type="button" class="btn btn-default" id="restDetStrtTmeSat">11:00 AM</button>
                </div>
			</div>
			<div class="col-xs-3" id="addRestDetEndTime">
			    <p>To</p>
			    <div class="btn-group-vertical" role="group" aria-label="...">
  					<button type="button" class="btn btn-default" id="restDetEndTmeSun">11:00 PM</button>
  					<button type="button" class="btn btn-default" id="restDetEndTmeMon">11:00 PM</button>
  					<button type="button" class="btn btn-default" id="restDetEndTmeTue">11:00 PM</button>
  					<button type="button" class="btn btn-default" id="restDetEndTmeWed">11:00 PM</button>
  					<button type="button" class="btn btn-default" id="restDetEndTmeThu">11:00 PM</button>
  					<button type="button" class="btn btn-default" id="restDetEndTmeFri">11:00 PM</button>
  					<button type="button" class="btn btn-default" id="restDetEndTmeSat">11:00 PM</button>
                </div>
			</div>
			<div class="col-xs-3 editForAddRestDet" id="addRestDetEdit">
			    <a href="#">Edit</a>
			</div>
		</div>
       
		<div class="rating-group">
		<br>
		<br>
		<br>
        <!-- .collapse.in determines state of collapsable div; exists = not collapsed -->
        <div class="row">
            <div class="col-xs-3">
                <label class="edit_text">Features</label>
            </div>
            <div class="col-xs-9">
                 <!--***** need to keep this menu open until all choices have been made? -->
                 <div class="form-group dropdown" id="AddDetailsRestFeatures">
                    <button class="btn btn-default dropdown-toggle dropdown-label" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Restaurant Features <span class="caret"></span>
                    </button>
                        <!--******BACKEND pre-check those from profile -->
                        <ul class="dropdown-menu scrollable-menu" aria-label="restaurantFeatures">
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxKidFrndly" />&nbsp;Kid-Friendly</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxFreeWF" />&nbsp;Free WiFi</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxFreePrk" />&nbsp;Free Parking</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxQuiet" />&nbsp;Quiet</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxGrtCTails" />&nbsp;Great Cocktails</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxPreThtrMenu" />&nbsp;Pre-Theater Menu</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxOpenEarly" />&nbsp;Open Early</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxOpenLate" />&nbsp;Open Late</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxOutdrSeats" />&nbsp;Outdoor Seating</li>
                            <li class=" yesPaddingLeft"><input type="checkbox" id="cBoxWheelChrAcc" />&nbsp;Wheelchair Accessible</li>
                        </ul>
                 </div>
            </div>
         </div>

         <div class="row">
            <div class="col-xs-3">
                <label class="edit_text">Payment Method</label>
            </div>
            <div class="col-xs-9">
                <!--***** need to keep this menu open until all choices have been made? -->
                <div class="form-group dropdown" id="paymentMethod">
                    <button class="btn btn-default dropdown-toggle dropdown-label" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Choose <span class="caret"></span>
                    </button>
                    <!--******BACKEND pre-check those from profile -->
                    <ul class="dropdown-menu scrollable-menu" aria-label="restaurantFeatures">
                        <li class=" yesPaddingLeft"><input type="checkbox" id="payMetAmrExp" />&nbsp;American Express</li>
                        <li class=" yesPaddingLeft"><input type="checkbox" id="payMetCreditCrd"/>&nbsp;Credit Card</li>
                        <li class=" yesPaddingLeft"><input type="checkbox" id="payMetCash"/>&nbsp;Cash</li>
                        <li class=" yesPaddingLeft"><input type="checkbox" id="payMetVisa"/>&nbsp;Visa</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label class="edit_text">Ownership</label>
            </div>
            <div class="col-xs-9">
                <div class="form-group dropdown" id="search-food-type">
                    <button class="btn btn-default dropdown-toggle dropdown-label" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="addRestOwnerShip">
                        Choose One <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu scrollable-menu" aria-label="typeOfFood">
                        <li><a href="#">Locally Owned</a></li>
                        <li><a href="#">Franchised </a></li>
                        <li><a href="#">Chained</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label for="awards" class="edit_text">Awards</label>
            </div>
            <div class="col-xs-9">
                <input id="awards"  class="form-control" type="text" placeholder="Michelin Stars" id="addRestAwards"/>
            </div>
        </div>

        <div class="row yesPaddingTop">
            <div class="col-xs-3">
                <label class="edit_text">BYOB Available ? </label>
            </div>
            <div class="col-xs-9">
                <div class="btn-group btn-group-justified">
                 	<a type="button" class="btn btn-primary" id="BYOBSun">Sunday</a>
                    <a type="button" class="btn btn-primary" id="BYOBMon">Monday</a>
                    <a type="button" class="btn btn-primary" id="BYOBTues">Tuesday</a>
                    <a type="button" class="btn btn-primary" id="BYOBWed">Wednesday</a>
                    <a type="button" class="btn btn-primary" id="BYOBThur">Thursday</a>
                    <a type="button" class="btn btn-primary" id="BYOBFri">Friday</a>
                    <a type="button" class="btn btn-primary" id="BYOBSat">Saturday</a>
                </div>
            </div>
        </div>

        <div class="row yesPaddingTop">
            <div class="col-xs-3">
                <label for="corkage" class="edit_text">Corkage Fee </label>
            </div>
            <div class="col-xs-9">
                <input id="corkage" class="form-control" type="number" id="add" />
            </div>
        </div>

        <div class="panel-group">
            <div class="panel-heading noPadding">
                <h4>
                    <a data-toggle="collapse" href="#maxSeats">Maximum Seats Allowed</a>
                </h4>
            </div>
            <div id="maxSeats" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="entireVenue" class="edit_text">Entire Venue</label>
                        </div>
                        <div class="col-xs-9">
                            <input id="entireVenue" type="number"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="entireGroup" class="edit_text">Entire Group</label>
                        </div>
                        <div class="col-xs-9">
                            <input id="entireGroup" type="number"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="entireTable" class="edit_text">Entire Table</label>
                        </div>
                        <div class="col-xs-9">
                            <input id="entireTable" type="number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="adv_search_slider">
            <div class="row">
                <div class="col-xs-3">
                    <label for="romantic" class="edit_text">Romantic </label>
                </div>
                <div class="col-xs-3">
                    <input name="romantic" id="romantic" type="text" class="span2" value="" data-slider-min="0"
                        data-slider-max="100" data-slider-step="5" data-slider-value="50"/>
                </div>
                <div class="col-xs-6">
                    <label><input id="romanticNotApp" name="romanticCB" type="checkbox" value="na"/>N/A</label>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-3">
                    <label for="service" class="edit_text">Service</label>
                </div>
                <div class="col-xs-3">
                    <input id="service" name="service" type="text" class="span2" value="" data-slider-min="0"
                        data-slider-max="100" data-slider-step="5" data-slider-value="50"/>
                </div>
                <div class="col-xs-6">
                    <label><input id="serviceNotApp" name="serviceCB" type="checkbox" value="na"/>N/A</label>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-3">
                    <label for="ambience" class="edit_text">Ambience</label>
                </div>
                <div class="col-xs-3">
                    <input id="ambience" name="ambience" type="text" class="span2" value="" data-slider-min="0"
                        data-slider-max="100" data-slider-step="5" data-slider-value="50"/>
                </div>
                <div class="col-xs-6">
                    <label><input id="ambienceNotApp" name="ambienceCB" type="checkbox" value="na"/>N/A</label>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-3">
                    <label for="noise_level" class="edit_text">Noise Level </label>
                </div>
                <div class="col-xs-3">
                    <input id="noise_level" name="noise_level" type="text" class="span2" value=""
                        data-slider-min="0" data-slider-max="100" data-slider-step="5"
                        data-slider-value="50"/>
                </div>
                <div class="col-xs-6">
                    <label><input id="noiseNotApp" name="noiseCB" type="checkbox" value="na"/>N/A</label>
                </div>
            </div>
        </div>
        <!-- end of advance search slider-->
    </div>
    <!-- class panel-->    
	</div>
  </div>  
</div>
	
