<div class="basic-form">
	<div id='expert' class='row'>
	  <p class='col col-xs-6'>Value for Price</p>
	  <div class='col col-xs-6'>
	  	<div class="row">
	      <span class='col col-xs-3'>Low</span>
	      <!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
	      <div class="col col-xs-6 pad-right-0">
	      	<!-- you can remove the right padding from this parent's div to make it look better -->
	        <input class="flat-slider" name='ValueForPrice' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
	      </div>
	      <span class='col col-xs-3'>High</span>
	  	</div>
	  </div>
	</div>
</div>
