<!DOCTYPE html>
<div class="panel-group material_accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="row accord" role="tab" id="headingTwo">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Detailed Reviews
            </a>
        </h4>
    </div>

    <div id="collapseTwo" class="panel-collapse collapse material_accordion_collapse menu_item_style" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <img class="detailed-review" src="../../images/tso.jpg">
                      <p> 12 reviews here</p>
                  </div>
                  <div class="col-md-4">
                      <div class="fixed-rating" id='3'></div>
                      <span class="review-author">written by Garrett Lang</span>
                      <div class="review">The General Tso's chicken is amazing - it's crunchy on the outside and chewy on the inside. It's salty enough that it's very flavorful. Not spicy at all.</div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <img class="detailed-review" src="../../images/sushi.jpg">
                      <p> 8 reviews here</p>
                  </div>
                  <div class="col-md-4">
                      <div class="fixed-rating" id='3'></div>
                      <span class="review-author">written by John D.</span>
                      <div class="review">The sushi platter was decent. The fish could've been fresher quality, but overall I was satisfied.</div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <img class="detailed-review" src="../../images/mushu-chicken.jpg">
                      <p> 10 reviews here</p>
                  </div>
                  <div class="col-md-4">
                      <div class="fixed-rating" id='5'></div>
                      <span class="review-author">written by Sally S.</span>
                      <div class="review">The mushu chicken was fantastic! I can't recommend it enough!</div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>