<div class="row accord" role="tab" id="headingTwo">
   <h4 class="panel-title">
               <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   Dietary Preferences - General
               </a>
           </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse material_accordion_collapse" role="tabpanel" aria-labelledby="headingTwo">
   <div class="panel-body">
       <div class="container page-content">
           <h4>Dietary Preferences</h4>
           <div class="row dietPref">
             <div class="col-sm-3">
               <input type="checkbox" id="Vegan" name="diet" value="Vegan" />Vegan <br>
               <input type="checkbox" id="Raw-Vegan" name="diet" value="Raw-Vegan" />Raw-Vegan<br>
               <input type="checkbox" id="Vegetarian" name="diet" value="Vegetarian" />Vegetarian<br>
               <input type="checkbox" id="Pescetarian" name="diet" value="Pescetarian" />Pescetarian<br>
             </div>
             <div class="col-sm-3">
               <input type="checkbox" id="Gluten-Free" name="diet" value="Gluten-Free" />Gluten-Free<br>
               <input type="checkbox" id="Diabetic" name="diet" value="Diabetic" />Diabetic<br>
               <input type="checkbox" id="Lactose-Free" name="diet" value="Lactose-Free" />Lactose-Free<br>
               <input type="checkbox" id="Low-Carb" name="diet" value="Low-Carb" /> Low-Carb<br>
             </div>
             <div class="col-sm-3">
               <input type="checkbox" id="Kosher" name="diet" value="Kosher" />Kosher<br>
               <input type="checkbox" id="Halal" name="diet" value="Halal" />Halal<br>
              <input type="checkbox" id="Paleo" name="diet" value="Paleo" />Paleo<br>
              <input type="checkbox" id="High-Protein" name="diet" value="High-Protein" />High-Protein<br>
             </div>
              <div class="col-sm-3">
                <input type="checkbox" id="Nut-Free" name="diet" value="Nut-Free" />Nut-Free<br>
                <input type="checkbox" id="High-Fiber" name="diet" value="High-Fiber" />High-Fiber<br>
                <input type="checkbox" id="Low-Sodium" name="diet" value="Low-Sodium" /> Low/No Sodium<br>
                <input type="checkbox" id="Other" name="diet" value="Other" />Other<br>
              </div>
           </div>

           <!-- <p>Filter By</p>
           <div class="input-group"> <span class="input-group-addon">Filter</span>
               <input id="filter" type="text" class="form-control" placeholder="Type here...">
           </div>
           <div id='options'>
               <p><a>See all options</a></p>
           </div>
           <div class="searchable">
               <label class="checkbox" id='dietary' id="check">
                   <input type="checkbox" id="vegan" value="vegan" />Vegan
               </label>
               <label class="checkbox" id='dietary' id="check">
                   <input type="checkbox" id="vegetarian" value="vegetarian" />Vegetarian
               </label>
               <label class="checkbox" id='dietary' id="check">
                   <input type="checkbox" id="gluten" value="gluten free" />Gluten Free
               </label>
               <label class="checkbox" id='dietary' id="check">
                   <input type="checkbox" id="paleo" value="paleo" />Paleo
               </label><label class="checkbox" id='dietary' id="check">
                   <input type="checkbox" id="kosher" value="kosher" />Kosher
               </label>
           </div>
           <div>
               <div>
                   <a>
                       <h4 id='add-value'>Edit/Add Value
                       </h4>
                       <div id='add-here'>
                       </div>
                   </a>
               </div>
               <h4>Preferences Selected</h4>
               <div id="preference">
               </div>
           </div> -->
       </div>
   </div>
</div>
