<!DOCTYPE html>
<div class="panel-group material_accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="row accord" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Expert Taster Menu Item Details
                </a>
            </h4>
        </div>

        <div id="collapseThree" class="panel-collapse collapse material_accordion_collapse menu_item_style" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="container page-content">
                  <div id='expert'>
                    <p id='slide-fix'> Sweet</p>
                    <input id="ex1" name="sweet" type="text" class="flat-slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50"/>
                    <input id="sweetNotApp" name="sweetCB" type="checkbox" value="na" />N/A
                </div>
                <div id='expert'>
                    <p id='slide-fix'> Salty</p>
                    <input id="ex2" name="salty" type="text" class="flat-slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" />
                    <input id="saltyNotApp" name="saltyCB" type="checkbox" value="na" />N/A
                </div>
                <div id='expert'>
                    <p id='slide-fix'> Savory</p>
                    <input id="ex3" name="savory" type="text" class="flat-slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" />
                    <input id="savoryNotApp" name="savoryCB" type="checkbox" value="na" />N/A
                </div>
                <div id='expert'>
                    <p id='slide-fix'> Bitter</p>
                    <input id="ex4" name="bitter" type="text" class="flat-slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" />
                    <input id="bitterNotApp" name="bitterCB" type="checkbox" value="na" />N/A
                </div>
                <div id='expert'>
                    <p id='slide-fix'> Sour</p>
                    <input id="ex5" name="sour" type="text" class="flat-slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" />
                    <input id="sourNotApp" name="sourCB" type="checkbox" value="na" />N/A
                </div>
                <div id='expert'>
                    <p id='slide-fix'> Spicy</p>
                    <input id="ex6" name="spicy" type="text" class="flat-slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" />
                    <input id="spicyNotApp" name="spicyCB" type="checkbox" value="na" />N/A
                </div>
                <div id='expert'>
                    <p id='slide-fix'> Presentation</p>
                    <input id="ex7" name="presentation" type="text" class="flat-slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" />
                    <input id="presentationNotApp" name="presentationCB" type="checkbox" value="na" />N/A
                </div>
                <div id='expert'>
                   <p id='slide-fix'> Quantity</p>
                     <input id="ex8" name="quantity" type="text" class="flat-slider" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" />
                     <div class="" style="margin-left:0px; position: relative">
                        <br>
                        <br>
                        <p class="col col-xs-4 selected">tiny portion</p>
                        <p class="col col-xs-4 text-center selected">medium portion</p>
                        <p class="col col-xs-4 text-right selected">2+ meals</p>
                    </div>  
                </div>
                </div>
            </div>
        </div>
</div>