<!DOCTYPE html>
<html>
<div class='fixed-rating'>
<span class="glyphicon glyphicon-star glyphicon-star-empty"></span>
<span class="glyphicon glyphicon-star glyphicon-star-empty"></span>
<span class="glyphicon glyphicon-star glyphicon-star-empty"></span>
<span class="glyphicon glyphicon-star glyphicon-star-empty"></span>
<span class="glyphicon glyphicon-star glyphicon-star-empty"></span>
</div>
</html>