        <!-- header -->
        <div class="row header-container">
            <div class="col-sm-5 col-xs-4 logo">
                <img id="logo" src='/images/logo_platerate.png' alt="platerate logo">
            </div>
            <div class="col-sm-7 col-xs-8 banner">
                <img id="banner" src='/images/banner_platerate.png' alt="platerate logo">
            </div>
        </div>
        <div class="row slogan">
            <p>Helping You Find The Food You Love</p>
        </div>
