    <!DOCTYPE html>
    <div class="panel-group material_accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="row accord" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    Highest Rated Menu Items
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse material_accordion_collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <div class="container page-content">
                    <table class='table'>
                    <form action="">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Rating</th>
                        <th># Reviews</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id='tso'>
                        <td><input type="checkbox" name=""></td>
                        <td><span class="item-name">General Tso's Chicken</span><br><a href="#">See Reviews</a></td>
                        <td class="fixed-rating" id="4">
                        <td class='number-of-reviews'>8</td>
                        <td class='price'>$13-15</td>
                    </tr>
                    <tr id='mushu-chicken'>
                        <td><input type="checkbox" name=""></td>
                        <td><span class="item-name">Mushu Chicken</span> <br> <a href="#">See Reviews</a></td>
                        <td class="fixed-rating" id="3">
                        </td>
                        <td class='number-of-reviews'>9</td>
                        <td class='price'>$10-14</td>
                    </tr>
                    <tr id='sushi'>

                        <td><input type="checkbox" name=""></td>
                        <td><span class="item-name">Sushi platter </span><br> <a href="#">See Reviews</a></td>
                        <td class="fixed-rating" id="4">
                        </td>
                        <td class='number-of-reviews'>12</td>
                        <td class='price'>$13</td>
                    </tr>
                    </tbody>
                    </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
