<div class="panel-group material_accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="row accord" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Menu Item and Dietary Preference
            </a>
        </h4>
    </div>
</div>        

<div id="collapseOne" class="panel-collapse collapse material_accordion_collapse menu_item_style " role="tabpanel" aria-labelledby="headingOne">
   <div class="panel-body">
   <div id="empty_col">
   </div>
    <div id="food_choices">
      <ul>
        <li>Vegan?</li>
        <li>Vegetarian?</li>
        <li>Raw-Vegan?</li>
        <li>Pescatarian?</li>
        <li>Gluten-Free?</li>
        <li>Diabetic?</li>
        <li>Lactose-Free?</li>
        <li>Low-Carb?</li>
        <li>Kosher?</li>
        <li>Halal?</li>
        <li>Paleo?</li>
        <li>High-Protein?</li>
        <li>Nut-Free?</li>
        <li>High-Fiber?</li>
        <li>Low/No Sodium?</li>
      </ul>
      </div>
      
      <div id="menu-split-button">
        <ul>
        <li>
        <select id="vegan-option">
          <option selected value="vegan_value">Please Select</option>
          <option value="YesVegan">Yes</option>
          <option value="NoVegan">No</option>
          <option value="CanReqVegan">Can Request?</option>
        </select>
        </li>
       <li>
        <select id="vegetarian-option">
           <option selected value="vegetarian_value"> Please Select </option>
           <option value="YesVegetarian">Yes</option>
           <option value="NoVegetarian">No</option>
           <option value="CanReqVegetarian">Can Request?</option>
        </select> 
      </li>
        <li>
        <select id="raw-vegan-option">
           <option selected value="raw-vegan_value"> Please Select </option>
           <option value="YesRawVegan">Yes</option>
           <option value="NoRawVegan">No</option>
           <option value="CanReqRawVegan">Can Request?</option>
         </select>
        </li>
      <li>
        <select id="pescatarian-option">
           <option selected value="pescretian_value"> Please Select </option>
           <option value="YesPrescretian">Yes</option>
           <option value="NoPrescretarian">No</option>
           <option value="CanReqPescatarian">Can Request?</option>
         </select> 
      </li>
      <li>
    
         <select id="gluten-free-option">
           <option selected value="gluten-free_value"> Please Select </option>
           <option value="YesGlutenFree">Yes</option>
           <option value="NoGlutenFree">No</option>
           <option value="CanReqGlutenFree">Can Request? </option>
         </select>
      </li>
    
      <li>
         <select id="diabetic-option">
           <option selected value="diabetic_value"> Please Select </option>
           <option value="YesDiabetic">Yes</option>
           <option value="NoDiabetic">No</option>
           <option value="CanReqDiabetic">Can Request? </option>
         </select> 
      </li>
  
      <li>
        <select id="lactose-free-option">
           <option selected value="lactose-free_value"> Please Select </option>
           <option value="YesLactoseFree">Yes</option>
           <option value="NoLactoseFree">No</option>
           <option value="CanReqLactoseFree">Can Request? </option>
         </select> 
      </li>
      
      <li>
      <select id="low-carb-option">
           <option selected value="low-carb_value"> Please Select </option>
           <option value="YesLowCarb">Yes</option>
           <option value="NoLowCarb">No</option>
           <option value="CanReqLowCarb">Can Request?</option>
       </select> 
       </li>
       <li>
        <select id="kosher-option">
           <option selected value="kosher_value"> Please Select </option>
           <option value="YesKosher">Yes</option>
           <option value="NoKosher">No</option>
           <option value="CanReqKosher">Can Request?</option>
         </select> 
      </li>
      
      <li>
        <select id="halal-option">
           <option selected value="halal_value"> Please Select </option>
           <option value="YesHalal">Yes</option>
           <option value="NoHalal">No</option>
           <option value="CanReqHalal">Can Request?</option>
         </select> 
      </li>
      
      <li>
        <select id="paleo-option">
           <option selected value=""> Please Select </option>
           <option value="YesPaleo">Yes</option>
           <option value="NoPaleo">No</option>
           <option value="CanReqPaleo">Can Request? </option>
         </select> 
      </li>
      <li>
        <select id="high-protein-option">
           <option selected value="high-protein_value"> Please Select </option>
           <option value="YesHighProtein">Yes</option>
           <option value="NotHighProtein">No</option>
           <option value="CanReqHighProtein">Can Request?</option>
        </select>   
       </li>
       
      <li>
        <select id="nut-free-option">
           <option selected value="nut-free_value"> Please Select </option>
           <option value="YesNutFree">Yes</option>
           <option value="NotNutFree">No</option>
           <option value="CanReqNutFree">Can Request?</option>
         </select>
      </li>
      
      <li>
        <select id="high-fiber-option">
           <option selected value="high-fiber_option"> Please Select </option>
           <option value="YesHighFiber">Yes</option>
           <option value="NotHighFiber">No</option>
           <option value="CanReqHighFiber">Can Request?</option>
         </select>
      </li>
    
      <li>
        <select id="low-no-sodium-option">
           <option selected value="low-no-sodium_value"> Please Select </option>
           <option value="YesLowNoSodium">Yes</option>
           <option value="NotLowNoSodium">No</option>
           <option value="CanReqLowNoSodium">Can Request?</option>
         </select> 
      </li>
      </ul>
      </div>

</div> <!-- panel-body-->
</div> <!--collapse One-->
