<!DOCTYPE html>
<div class="col-md-8" id="menu-item-info">
        <h2 id="menu-title">General Tso's chicken</h2>

        <div id='ratings-past'>
          <div class="fixed-rating" id='3'></div>
          <p id="review-count">12 reviews</p>
        </div>
        <img src="../../images/tso.jpg">
        <br>
        
</div>