<!DOCTYPE html>
<div class="col-md-8" id="menu-item-info">
        <h2 class="menu-item-title"><%= item.name %>(<%= item.entryId %>)</h2>

        <div id='ratings-past'>
          <div class="fixed-rating" id='3'></div>
          <p id="review-count">12 reviews</p>
        </div>
        <img src="../../images/tso.jpg">
        <br>
        
</div>