<div class="panel-group material_accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="row accord" role="tab" id="MyRatingsheadingAccord">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMyRatings" aria-expanded="true" aria-controls="collapseMyRatings">
                My Ratings
            </a>
         </h4>
    </div>
    <div id="collapseMyRatings" class="panel-collapse collapse material_accordion_collapse menu_item_style" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
        	<div class="container">
            <!-- beginning of first review of Garrett -->
        		<div class="row">
        			<div class="col-md-8">
                <div class="fixed-rating" id='3'></div>
                  <span class="review-author">written by Garrett Lang</span>
                  <div class="review">The General Tso's chicken is amazing - it's crunchy on the outside and chewy on the inside. It's salty enough that it's very flavorful. Not spicy at all.
                  </div>
                </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-xs-4">
                    <p>Rating</p>
                    <div class="fixed-rating"></div>
                  </div>
                  <div class="col-xs-4">
                    <p>Price</p>
                    <p>$12 - 16</p>
                  </div>    
                </div>
                <p> 12 reviews here</p>	
                <img class="detailed-review" src="../../images/tso.jpg"> 
              </div>
        		</div>
            <!-- end of first review By Garrett -->
            
            <!-- Beginning of the -->
            <div class="row">
              <div class="col-md-8">
                <div class="fixed-rating" id='3'></div>
                  <span class="review-author">written by Garrett Lang</span>
                  <div class="review">The sushi platter was decent. The fish could've been fresher quality, but overall I was satisfied.
                  </div>
                </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-xs-4">
                    <p>Rating</p>
                    <div class="fixed-rating"></div>
                  </div>
                  <div class="col-xs-4">
                    <p>Price</p>
                    <p>$12 - 16</p>
                  </div>    
                </div>
                <p> 10 reviews here</p> 
                <img class="detailed-review" src="../../images/mushu-chicken.jpg"> 
              </div>
            </div>
            <!-- End of Second Review by Garrett -->

            <!-- Beginning of the third review By Garrett -->
            <div class="row">
              <div class="col-md-8">
                <div class="fixed-rating" id='3'></div>
                  <span class="review-author">written by Garrett Lang</span>
                  <div class="review">The mushu chicken was fantastic! I can't recommend it enough!
                  </div>
                </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-xs-4">
                    <p>Rating</p>
                    <div class="fixed-rating"></div>
                  </div>
                  <div class="col-xs-4">
                    <p>Price</p>
                    <p>$12 - 16</p>
                  </div>    
                </div>
                <p> 10 reviews here</p> 
                <img class="detailed-review" src="../../images/mushu-chicken.jpg"> 
              </div>
            </div>

            <!-- End of the third Review By Garrett -->
        	</div>
        </div>
    </div>        
</div>        