<div class="row accord" role="tab" id="headingtt">
    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTt" aria-expanded="false" aria-controls="collapseTt">
            Past Ratings
        </a>
    </h4>
</div>
<div id="collapseTt" class="panel-collapse collapse material_accordion_collapse" role="tabpanel" aria-labelledby="headingtt">
    <div class="panel-body">
        <div class="container page-content">
            <div id="search-heading">
                <h3 style="text-align:center;"> Search on past ratings</h3>
            </div>
            <div id="ratings-past">
                <p>General Tso's chicken @Buddha Bodai
                </p>
                <p id="price">$12-$16</p>
                <button id='edit'><span style="color:#5D9D36" class="glyphicon glyphicon-pencil"></span></button>
            </div>
            <div id='ratings-past'>
                <p> Your Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
            </div>
            <div id='ratings-past'>
                <p> Avg. Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
                <p>12 reviews</p>
            </div>
            <div id="rating-desc">
                <p>The general Tso's chicken is amazing - It's crunchy on the outside and chewy on the outside. It's salty.</p>
            </div>
            <hr id='ratings-line'>
            <div id="ratings-past">
                <p>General Tso's chicken @Buddha Bodai
                </p>
                <p id="price">$12-$16</p>
                <button id='edit'><span style="color:#5D9D36" class="glyphicon glyphicon-pencil"></span></button>
            </div>
            <div id='ratings-past'>
                <p> Your Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
            </div>
            <div id='ratings-past'>
                <p> Avg. Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
                <p>12 reviews</p>
            </div>
            <div id="rating-desc">
                <p>The general Tso's chicken is amazing - It's crunchy on the outside and chewy on the outside. It's salty.</p>
            </div>
            <hr id='ratings-line'>
            <div id="ratings-past">
                <p>General Tso's chicken @Buddha Bodai
                </p>
                <p id="price">$12-$16</p>
                <button id='edit'><span style="color:#5D9D36" class="glyphicon glyphicon-pencil"></span></button>
            </div>
            <div id='ratings-past'>
                <p> Your Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
            </div>
            <div id='ratings-past'>
                <p> Avg. Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
                <p>12 reviews</p>
            </div>
            <div id="rating-desc">
                <p>The general Tso's chicken is amazing - It's crunchy on the outside and chewy on the outside. It's salty.</p>
            </div>
            <hr id='ratings-line'>
            <div id="ratings-past">
                <p>General Tso's chicken @Buddha Bodai
                </p>
                <p id="price">$12-$16</p>
                <button id='edit'><span style="color:#5D9D36" class="glyphicon glyphicon-pencil"></span></button>
            </div>
            <div id='ratings-past'>
                <p> Your Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
            </div>
            <div id='ratings-past'>
                <p> Avg. Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
                <p>12 reviews</p>
            </div>
            <div id="rating-desc">
                <p>The general Tso's chicken is amazing - It's crunchy on the outside and chewy on the outside. It's salty.</p>
            </div>
            <hr id='ratings-line'>
            <div id="ratings-past">
                <p>General Tso's chicken @Buddha Bodai
                </p>
                <p id="price">$12-$16</p>
                <button id='edit'><span style="color:#5D9D36" class="glyphicon glyphicon-pencil"></span></button>
            </div>
            <div id='ratings-past'>
                <p> Your Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
            </div>
            <div id='ratings-past'>
                <p> Avg. Rating</p>
                <input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">
                <p>12 reviews</p>
            </div>
            <div id="rating-desc">
                <p>The general Tso's chicken is amazing - It's crunchy on the outside and chewy on the outside. It's salty.</p>
            </div>
        </div>
    </div>
</div>
